

<div class="container">


  <h1>Upcoming shopping trips</h1>
  <% @shopping_trips.where("date >= ?", Time.now).each do |shopping_trip| %>
    <% if current_user.username == "admin" %>
      <div class="card"> <%= link_to shopping_trip.date.strftime("%A, %d %b"), adminshow_path(shopping_trip) %> </div>
    <% else %>
      <div class="card"> <%= link_to shopping_trip.date.strftime("%A, %d %b"), shopping_list_item_path(shopping_trip) %> </div>
    <% end %>
  <% end %>

  <% if current_user.username == "admin" %>
    <%= link_to 'Create a New shopping trip', new_shopping_trip_path %>
  <% end %>


  <!-- <h1 style="opacity: 0.3">Past shopping trips</h1> -->
  <%# @shopping_trips.where("date <= ?", Time.now).each do |shopping_trip| %>
    <!-- <div class="card"  style="opacity: 0.5"> <%#= link_to shopping_trip.date.strftime("%A, %d %b"), shopping_list_item_path(shopping_trip) %> </div> -->
  <%# end %>

  <div class="thefooter">
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
  </div>

</div>


